@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

body, html {
    overflow: auto;
    height: 100%;
    width: 100%; /* Hide scrollbars */
}

.content-wrapper {
    min-height: 100%;
    position: relative;
}

.main-box {
    display: table;
    height: 100%;
    width: 100%
}

.container23 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    overflow: hidden;
    width: 100%;
    line-height: 1.6;
    max-width: 600px;
    margin-left: 2em;
    min-width: 755px;
}

.content-box {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    box-sizing: border-box;
    z-index: 999;
}

.right-side {
    height: 700px;
    margin: -380px 0 0 -20px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 700px;
}

.right-side .img-box {
    height: 750px;
    overflow: hidden;
    width: 750px;
    border-radius: 700px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.right-side .img-box img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.content-box .fw-normal {
    font-weight: bold !important;
    font-size: 24px;
}

.lead {
    font-size: 14px;
    font-style: italic;
    margin-top: 20px;
}

.content-box ul {
    padding: 0;
    list-style: none;
}

.content-box ul a {
    color: #000;
    font-weight: 400;
    line-height: 25px;
    font-size: 16px;
}

/*
.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}
.right-side img {
  height: auto;
  display: block;
  max-width: 100%;
}
.right-side {
  height: 700px;
  margin: -380px 0 0 -20px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 700px;
  box-sizing: border-box;
}
.right-side .img-box{
  height: 750px;
  overflow: hidden;
  width: 750px;
  border-radius: 700px;
  box-sizing: border-box;
}
.content-box {
  position: relative;
  top: 280px;
  height: 100%;
  left: 22%;
}


*/
/******* second page css start here *************/

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: end;
}

nav.navbar .container {
    /*background: #333;*/
    padding: 0 0 0 20px;
}

nav.navbar .container a {
    color: #333333;
    padding: 0;
}

.active {
    background: #008cba;
}

.dropdown-menu {
    background: #EBEBEB;
    padding: 0;
    border: 1px solid #D1D1D1;
}

.navbar-nav li {
    border-right: solid 1px #d1d1d1;
}

.navbar-nav li:last-child {
    border-right: 0;
}

.timeline {
    list-style: none;
    margin-top: 40px;
}

.timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
}

.timeline-date {
    width: 110px;
    float: left;
    margin-top: 20px;
}

.timeline-content {
    width: 75%;
    float: left;
    border-left: 3px #6f6f6f solid;
    padding-left: 30px;
}

.timeline-content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #008CBA;
    position: absolute;
    left: 106px;
    top: 24px;
    border-radius: 100%;
}

.info-page .container {
    max-width: 1180px;
}

.font-small.blue ul {
    list-style: none;
}

.font-small.blue ul li {
    display: inline-block;
    padding: 0 5px;
    border-right: 1px solid #000;
}

.font-small.blue ul li:last-child {
    border-right: 0;
}

.font-small.blue ul li a {
    color: #008CBA;
    text-decoration: none;
}

footer.page-footer.font-small.blue {
    margin-top: 20px;
}

.font-small.blue ul {
    list-style: none;
    padding: 15px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.detail-content{
    padding-bottom: 11rem;
}

.dropdown-menu li:hover {
    background: #F5F5F5;
}

.dropdown-item:hover {
    background: transparent;
}

.navbar-light .navbar-nav .nav-link {
    color: #333333;
    font-size: 14px;
    display: block;
    padding: 12px 25px;
}

.navbar-light .navbar-nav .nav-item.active.dropdown a {
    color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-item.dropdown ul li a,
.navbar-light .navbar-nav .nav-item.active.dropdown ul li a {
    color: #333333;
}

.navbar-nav .dropdown-menu li {
    border-right: solid 0 #4e4e4e;
}

.navbar-nav .dropdown-menu li a {
    padding: 10px 15px;
    font-size: 14px;
}

/*Sumit Style*/
.navbar {
    background-color: #EBEBEB;
    padding: 0;
}

.nav.nav-tabs {
    margin: 3rem 0 2rem 0;
    border-bottom: 0;
}

.nav.nav-tabs .nav-link {
    color: #333333;
    border: none;
    border-bottom: 2px solid #f2f2f2;
    transition: all .3s ease-in-out;
    outline: 0;
    font-weight: 500;
}

.nav.nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #008cba;
    background-color: transparent;
    color: #008cba;
}

.nav.nav-tabs .nav-link:hover {
    background-color: #F5F5F5;
}

.nav.nav-tabs .nav-link.active {
    font-weight: 500;
}

.tab-content .tab-pane.active {
    background-color: #ffffff;
}

a {
    color: #008CBA;
    text-decoration: none;
}

a:hover {
    color: #008CBA;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


/******* Responsive  *************/
@media only screen and (max-width: 480px) {

    .detail-content {
        padding-bottom: 24rem;
    }

    .container {
        padding: 0;
    }

    .container23 {
        min-width: 0;
    }

    .content-box {
        max-width: 400px;
        overflow: hidden;
        min-width: 0;
        position: relative;
    }

    .timeline-date {
        width: 100%;
    }

    .timeline-content {
        width: 100%;
        border-left: 0 #6f6f6f solid;
        padding-left: 0;
    }

    .timeline-content:before {
        display: none;
    }

    .navbar-light .navbar-toggler {
        color: rgb(255 255 255);
        border-color: transparent;
    }

    .navbar-toggler:focus {
        box-shadow: 0 0 0 0;
    }

    .navbar {
        padding: 0;
    }

    .navbar-nav .dropdown-menu {
        box-shadow: none;
        border: 0 solid #ccc;
    }

    nav.navbar .container {
        padding: 10px 15px;
    }

    .nav.nav-tabs {
        margin: 1rem 0 2rem 0;
    }

    .content-box {
        left: 40px;
    }
}

@media only screen and (max-width: 767px) and (min-width: 481px) {

    .detail-content {
        padding-bottom: 24rem;
    }

    .navbar-light .navbar-toggler {
        box-shadow: none;
    }

    .container {
        margin: 0;
        padding: 0;
    }

    nav.navbar .container {
        padding: 10px 20px;
    }

    .nav.nav-tabs{
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 900px ){
    .detail-content {
        padding-bottom: 18rem;
    }

    .navbar-light .navbar-toggler {
        box-shadow: none;
    }

    .container {
        margin: 0;
        padding: 0;
    }

    nav.navbar .container {
        padding: 10px 20px;
    }

    .nav.nav-tabs{
        margin-top: 1rem;
    }
}
